* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', serif;
    background-color: #bde412;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: none;
    outline: none;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.box {
    width: 500px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.currency-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
p {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

input {
    font-weight: 400;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 2em;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #02002c;
    outline: none;
}

#country,#country1 {
    background-color: #c0e711;
    color: rgb(15, 4, 11);
    width: auto;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}


#country option, #country1 option{
    background-color: #02002c;
    color: rgb(8, 3, 3);
}

select option {
    background-color: #ffffff;
    color: #02002c;
}

.btn{
    margin-top: 10px;
}

.convert{
    width: 100%;
    background-color: #aaec0e;
    color: white;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}